{% extends 'base.html' %}
{% block title %}FlipKart|Checkout{% endblock %}
{% block body %}
<div class="container">
    <h2 class="mb-3 text-center">Checkout</h2>
    <form method="post" >
        {% csrf_token %}
        <p><strong>Customer Name:</strong>{{userid}}</p>
        <p><strong>Email:</strong>{{email}}</p>
        <p><strong>Mobile:</strong>{{mobile}}</p>
        {% for a in address %}
        <div class="card mb-3">
            <div class="card-body">
                <center>
                    <input type="radio" name="address_id" value="{{a.id}}" required>
                    <strong>Address {{forloop.counter}}:</strong><br>
                </center>
                
                <p><strong>Address:</strong>{{a.address}}</p>
                <p><strong>City:</strong>{{a.city.name}}</p>
                <p><strong>Country:</strong>{{a.country.name}}</p>
                <p><strong>Pincode:</strong>{{a.pincode}}</p>
            </div>
        </div>
        {% endfor %}

        <h4 class="mt-4 mb-3">Cart Summary</h4>
        <table class="table table-bordered">
            <thead>
                <th>Sr.No</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for c in cartdata %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.productname}}</td>
                    <td>{{c.qty}}</td>
                    <td>₹{{c.price}}</td>
                    <td>₹{{c.subtotal}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4 class="text-right mt-3">Total: ₹{{total}}</h4>
        <div class="text-center mt-3">
            <!-- <button type="submit" class="btn btn-success">Place Order</button> -->
            <a href="{% url 'placeorder' %}" class="btn btn-success">Place Order</a>
            <a href="{% url 'showcarts' %}" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}