{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h2>Reset Password for {{uemail}}</h2>
        {% for m in messages %}
        <mark><h1>{{m}}</h1></mark>
        {% endfor %}

        <form method="post">
            {% csrf_token %}
            <input type="number" name="otp" required placeholder="Enter otp"><br><br>
            <input type="password" name="upass" required placeholder="Enter new password"><br><br>
            <input type="password" name="ucpass" required placeholder="Enter confirm password"><br><br>
            <button type="submit">Reset Password</button>
            <button><a href="{% url 'signin' %}">Cancel</a></button>
        </form>
    </div>
</div>
{% endblock %}
