{% extends 'base.html' %} {% block title %}SignUP{% endblock %} {% block body %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="row">
    <h1 class="text-center">SignUP</h1>
    {% if errmsg %}
    <div><mark>{{errmsg}}</mark></div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="uname"
          required
        />
        <div id="emailHelp" class="form-text">
          We'll never share your username with anyone else.
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="uemail"
          required
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="upass"
          required
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="ucpass"
          required
        />
      </div>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="exampleCheck1"
          required
        />

        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        <p>
          Sign with
          <a href="#"><i class="bi bi-google"></i></a>
        </p>
      </div>
      <button type="submit" class="btn btn-primary">Signup</button>
      <button type="reset" class="btn btn-danger">Cancel</button>
    </form>
  </div>
</div>

{% endblock %}
